<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @camisetum.nome %>
</p>

<p>
  <strong>Medida 1:</strong>
  <%= @camisetum.medida_1 %>
</p>

<%= link_to 'Edit', edit_camisetum_path(@camisetum) %> |
<%= link_to 'Back', camiseta_path %>
